body {
  background-image: url("https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg");
  background-position: center;
  color: #ffffff;
  font-family: arial, helvetica, sans-serif;
  margin: 10% 20%;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: #cccccc;
  color: #000000;
   
}

h1 {
  color: #ff0099;
  text-align: center;
}

h5 {
  text-transform: uppercase;
  color: #ff0099;
}

.whole {
  background-color: #000000;
  padding: 5%
}

.skills {
  column-count: 2;
  margin: 3%;
  column-gap: 45px;
}


