body {
  background-image: url("https://live.staticflickr.com/65535/52182120409_6ca3372c7a_k.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #000000;
  font-family: helvetica, sans-serif;
  margin: 10% 20%;
}

.exp-header {
  text-align: center;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: #000000;
  color: #ffffff;
  font-family: Helvetica;
  text-transform: uppercase;
   
}

h1 {
  color: #000000;
  text-align: center;
  font-size: 100%;
  font-family: Helvetica;
  text-transform: uppercase;
}

h5 {
  text-transform: uppercase;
  color: #ff0099;
}

.whole {
  background-color: #ffffff;
  padding: 2%;
  margin-left: -16%;
  margin-right: -16%;
}

.skills {
  column-count: 2;
  margin: 5%;
  column-gap: 5%;
}

.avatar {
  vertical-align: middle;
  width: 90%;
  border-radius: 1%;
}

.dropdown {
  background-color: #4E4E4E;
  color: #000000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .dropdown:hover {
  background-color: #ff0099;
}

.dropdown:after {
  content: '\21E9'; 
  font-size: 13px;
  color: #FFFFFF;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\21E7";
}

.panel {
  padding: 0 18px;
  background-color: 000000;
  display: none;
  overflow: hidden;


